@charset "UTF-8";

@font-face {
    font-family: 'passion';
    src: url('fontes/passion/PassionOne-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sriracha';
    src: url('fontes/sriracha/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1:#080808;
    --cortextofoto: #080808be;
    --fonte-padrao: 'passion', Arial, Helvetica, sans-serif;
    --fonte-cordel: 'sriracha', cursive; /*alguns usuários relatam o erro da cursive*/
}

* {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: rgb(31, 31, 31);
    margin-bottom: 10px;
    padding: 20px;
}

header > h1 {
    font-family: var(--fonte-padrao);
    font-size: 10vmin;
    color: white;
    text-align: center;
}

header > p {
    text-align: center;
    color: white;
    letter-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}

header > p > strong > a {
    text-decoration: none;
    color: white;
    text-align: center;
 
}

body {
    margin: auto;
    font-size: 1.3em;
}

main {
    padding: 30px 30px 0px 30px;
    background-color: azure;
    overflow: auto;
    font-size: 3vmin;
}
main > p {
    font-family: var(--fonte-cordel);
    padding: 10px;
}

.parallax1 {
    position: relative;
    background-image: url(imagens/background001.jpg);
    min-height: 62vmin;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px -30px 0px -30px;
    box-shadow: inset 4px -7px 29px rgba(0, 0, 0, 0.774);
}

.parallax2 {
    position: relative;
    background-image: url(imagens/background002.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px -30px 0px -30px;
    box-shadow: inset 4px -7px 29px rgba(0, 0, 0, 0.774);
}

.textofoto {
    position: absolute;
    background-color:var(--cortextofoto);
    color: white;
    padding: 30px;
    left: 0%;
    top: 14%;
    font-family: var(--fonte-cordel);
}

footer {
    background-color: var(--cor1);
    padding: 20px;
    color: white;
    font-family: Arial;
    margin: 10px -30px 0px -30px;
    text-align: center;
 }

footer > strong > a  {
    text-decoration: none;
    color: white;

}