@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
}

div {
    position: relative;
    margin: auto;
    width: 311px;
    height: 627px;

}

iframe {
    position: absolute;
    margin: auto;
    width: 289px;
    height: 469px;
    top: 12.9%;
    left: 3.8%;
}

section#botoes {
    position: relative;
}

#facebook {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    top: -59vh;
    left: 92vw;
}

