@charset "UTF-8";

/* Regra
 */
* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to right, #F5F1ED, #639FAB);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0a234273;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #7A5C58;
    text-align: center;
    text-shadow: 1px 1px 2px #594441c3;
}

h2 {
    color: #0A2342
}

p {
    text-align: justify;
}