@charset "UTF-8";

@font-face {
    font-family: 'Hind', sans-serif;
    src: url(../fontes/Hind-Bold.ttf) format('truetype');
    font-weight: normal;
}

:root {
    --cor1: #252525;
    --cor2: #ffffff;
    --cor3: #747474;
    --cor4: #bcebf7;
    --cor5:#00fff2;
    --font1: 'Hindi', sans-serif, Arial, Helvetica;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font1);
}

body {
    background-color: var(--cor1);

}

div > img {
    width:300px;
    border-radius: 30px 30px 0px 0px;
}

#bem-vindo {
    margin: 15px;
}

div#caixa {
    position: relative;
    width: 300px;
    height: 600px;
    background-color: var(--cor3);
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}

h1 {
    padding: 10px;
}

.campo {
    background-color: var(--cor4);
    margin: 5px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}

.icon {
    position: relative;
    width: 30px;
    top: 10px;
    
}

#iemail, #isenha {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px;
    
}

#botaoentrar {
    background-color: var(--cor5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
    padding: 10px 60px;
    font-size: 1.1em;
    border-radius: 10px;
    font-weight: bolder;
}

#botaoesqueci {
    background-color: var(--cor4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
    padding: 5px;
    font-size: 1em;
    border-radius: 10px;
    
}

#botaoentrar:hover, #botaoesqueci:hover {
    cursor: pointer;
}
